php_value error_reporting 2047
php_value date.timezone "Europe/Amsterdam"

	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^.*$ index.php [QSA,L]
